[user]
	name = Jesse Bellingham
    email = 5078290+jbellingham@users.noreply.github.com
[alias]
	what = show -s --pretty='tformat:%h (%s, %ad)' --date=short

	# show all commits in the past week done by the specified author
	standup = log --since 1.week.ago --author

	# show git log visualised as a branch tree
	tree = log --graph --decorate --oneline
	co = checkout
	fixup = "!f() { TARGET=$(git rev-parse $1); git commit --fixup=$TARGET ${@:2} && GIT_SEQUENCE_EDITOR=true git rebase -i --autostash --autosquash $TARGET^; }; f"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	autocrlf = input
[init]
	defaultBranch = main